
{% extends "pc/base.html" %}


{% block page_title %}
<title>Business Law Deals</title>
{% endblock page_title %}


{% block head_extra %}
<script data-main="{{ main }}" src="{{ CONST.require.source }}"></script>
{% endblock head_extra %}


{% block page_content %}
<div class="site-main" style="min-height:100%;padding:50px 0px 165px 0px;"></div>
<div class="site-header" style="width:100%;position:fixed;top:0px;z-index:1000;"></div>
<div class="site-footer" style="margin-top:-165px;"></div>
{% endblock page_content %}


