
<div class="subscribe-item clearfix site-hover-light" style="padding:0 0.5em;line-height:2em;">
    <div class="pull-right">
        <a class="mqtt-unsubscribe-topic-btn site-a site-hover-transition" style="color:#bbb;" href="javascript:void(0)" title="unsubscribe">
            <i class="fa fa-remove"></i>
        </a>
    </div>
    <div class="pull-left" style="font-size:0.8em;color:#bbb;">
        <span>QoS</span>
        <span>=</span>
        <span><%= qos %></span>
    </div>
    <div class="" style="margin-left:5em;margin-right:1.5em;overflow:auto;">
        <span class="subscribe-topic"><%= topic %></span>
    </div>
</div>


