
<div class="center-block clearfix" style="width:1024px;padding:30px 20px;">
    <div class="clearfix">
        <div class="pull-left">
            <a class="upload-admin-avatar site-a" style="width:100px;height:100px;" data-scene="admin/avatar" data-exist="<%= admin.avatar.thumbnails[0].url %>"></a>
        </div>
        <div class="" style="padding-left:20px;overflow:auto;">
            <ul class="nav nav-tabs" style="padding:60px 20px 0px 0px;">
                <li class="pull-right" style="width:100px;">
                    <a style="padding:10px 0px;text-align:center;" href="#password_tab" data-toggle="tab">
                        <span>Password</span>
                    </a>
                </li>
                <li class="pull-right active" style="width:100px;">
                    <a style="padding:10px 20px;text-align:center;" href="#profile_tab" data-toggle="tab">
                        <span>Profile</span>
                    </a>
                </li>
                <li class="" style="line-height:30px;">
                    <b style="font-size:15px;"><%= admin.realname %></b>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content" style="margin-top:30px;">
        <div id="profile_tab" class="tab-pane fade in active">
            <form class="update-info-form center-block" style="width:50%;padding:20px 0px;">
                <div class="clearfix">
                    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                        <span class="text-muted">Name</span>
                    </div>
                    <div class="" style="margin-left:120px;border-bottom:1px solid #e1e2e3;">
                        <input name="realname" type="text" class="" style="width:100%;padding:5px 8px;border:0px;"
                            value="<%= admin.realname %>" placeholder="-- Realname --" />
                    </div>
                </div>
                <br>
                <div class="clearfix">
                    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                        <span class="text-muted">Gender</span>
                    </div>
                    <div class="" style="margin-left:120px;border-bottom:1px solid #e1e2e3;">
                        <select name="gender" style="width:100%;height:30px;border:0px;background-color:white;">
                            <option value="">-- Choose --</option>
                            <option value="M" <%= admin.gender=='M' ? 'selected':'' %>>Male</option>
                            <option value="F" <%= admin.gender=='F' ? 'selected':'' %>>Female</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="clearfix">
                    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                        <span class="text-muted">Email</span>
                    </div>
                    <div class="" style="margin-left:120px;border-bottom:1px solid #e1e2e3;">
                        <input name="email" type="text" class="" style="width:100%;padding:5px 8px;border:0px;"
                            value="<%= admin.email %>" placeholder="-- Email --" />
                    </div>
                </div>
                <br>
                <div class="clearfix">
                    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                        <span class="text-muted">Cellphone</span>
                    </div>
                    <div class="" style="margin-left:120px;border-bottom:1px solid #e1e2e3;">
                        <input name="cellphone" type="text" class="" style="width:100%;padding:5px 8px;border:0px;"
                            value="<%= admin.cellphone %>" placeholder="-- Cellphone --" />
                    </div>
                </div>
            </form>
            <div class="" style="margin-top:30px;padding:20px;border-top:1px solid #e7e8e9;background-color:#f7f8f9;" align="center">
                <a class="update-info-btn btn btn-primary btn-sm" style="padding:10px 20px;">
                    <i class="fa fa-check"></i>
                    <span>SUBMIT</span>
                </a>
            </div>
        </div>
        <div id="password_tab" class="tab-pane fade">
            <form class="update-password-form center-block" style="width:50%;padding:20px 0px;">
                <div class="clearfix">
                    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                        <span class="text-muted">Old</span>
                    </div>
                    <div class="" style="margin-left:120px;border-bottom:1px solid #e1e2e3;">
                        <input name="old_password" type="password" class="" style="width:100%;padding:5px 8px;border:0px;"
                            placeholder="-- Input old password --" />
                    </div>
                </div>
                <br>
                <div class="clearfix">
                    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                        <span class="text-muted">New</span>
                    </div>
                    <div class="" style="margin-left:120px;border-bottom:1px solid #e1e2e3;">
                        <input name="new_password" type="password" class="" style="width:100%;padding:5px 8px;border:0px;"
                            placeholder="-- Input new password --" />
                    </div>
                </div>
                <br>
                <div class="clearfix">
                    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                        <span class="text-muted">Confirm</span>
                    </div>
                    <div class="" style="margin-left:120px;border-bottom:1px solid #e1e2e3;">
                        <input name="confirm_new_password" type="password" class="" style="width:100%;padding:5px 8px;border:0px;"
                            placeholder="-- Confirm new password --" />
                    </div>
                </div>
            </form>
            <div class="" style="margin-top:30px;padding:20px;border-top:1px solid #e7e8e9;background-color:#f7f8f9;" align="center">
                <a class="update-password-btn btn btn-primary btn-sm" style="padding:10px 20px;">
                    <i class="fa fa-check"></i>
                    <span>SUBMIT</span>
                </a>
            </div>
        </div>
    </div>
</div>



