
<% if (admins.length==0) { %>
<div class="" style="padding:20px;">
    <span style="color:#bbb;">No admin records</span>
</div>
<% } else { %>
<table class="table table-hover">
    <thead>
        <tr>
            <th><div class="text-muted" align="center">Avatar</div></th>
            <th><div class="text-muted">Name</div></th>
            <th><div class="text-muted" style="padding-left:30px;">Contacts</div></th>
            <th><div class="text-muted" align="center">Status</div></th>
            <th><div class="text-muted" align="center">Action</div></th>
        </tr>
    </thead>
    <tbody>
        <% for (var i=0;i<admins.length;i++) { %>
        <% var admin = admins[i]; %>
        <tr data-admin-id="<%= admin.id %>">
            <td style="width:100px;" align="center">
                <div class="img-circle site-background" 
                    style="width:30px;height:30px;background-image:url('<%= admin.avatar.thumbnails[2].url %>');"></div>
            </td>
            <td style="width:200px;">
                <div class="">
                    <span class="admin-name"><%= admin.realname %></span>
                </div>
                <div class="" style="color:#bbb;">
                    <% if (admin.gender=='M') { %>
                    <span>Male</span>
                    <% } else if (admin.gender=='F') { %>
                    <span>Female</span>
                    <% } else { %>
                    <span>Unknown</span>
                    <% } %>
                </div>
            </td>
            <td>
                <div class="clearfix" style="color:#bbb;">
                    <div class="pull-left" style="width:30px;" align="center">
                        <i class="fa fa-mobile" style="font-size:20px;"></i>
                    </div>
                    <div class="" style="margin-left:30px;">
                        <span><%= admin.cellphone || '--' %></span>
                    </div>
                </div>
                <div class="clearfix" style="color:#bbb;">
                    <div class="pull-left" style="width:30px;" align="center">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="" style="margin-left:30px;">
                        <span><%= admin.email || '--' %></span>
                    </div>
                </div>
            </td>
            <td style="width:100px;" align="center">
                <% if (admin.status==0) { %>
                <span class="admin-status">Disabled</span>
                <% } if (admin.status==1) { %>
                <span class="admin-status">Active</span>
                <% } %>
            </td>
            <td style="width:120px;" align="center">
                <div class="btn-group">
                    <a class="edit-admin-btn btn btn-default btn-sm" style="width:75px;" href="/manage/admin/<%= admin.id %>/update">
                        <span>Edit</span>
                    </a>
                    <a class="btn btn-default btn-sm disabled hidden" style="width:75px;" href="javascript:void(0)">
                        <span>Lock</span>
                    </a>
                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                        <span class="caret text-muted"></span>
                    </a>
                    <ul class="dropdown-menu pull-right" style="width:100px;">
                        <li>
                            <a class="reset-admin-btn" href="javascript:void(0)">
                                <div class="clearfix">
                                    <div class="pull-right">
                                        <i class="fa fa-angle-right text-muted"></i>
                                    </div>
                                    <div class="" style="margin-right:20px;">
                                        <span>Reset</span>
                                    </div>
                                </div>
                            </a>
                            <a class="btn btn-link btn-sm disabled hidden" href="javascript:void(0)">
                                <span>Lock</span>
                            </a>
                        </li>
                        <li class="divider" style="margin:2px 0px;"></li>
                        <li>
                            <a class="disable-admin-btn" href="javascript:void(0)">
                                <div class="clearfix">
                                    <div class="pull-right">
                                        <i class="fa fa-angle-right text-muted"></i>
                                    </div>
                                    <div class="" style="margin-right:20px;">
                                        <span>Disable</span>
                                    </div>
                                </div>
                            </a>
                            <a class="btn btn-link btn-sm disabled hidden" href="javascript:void(0)">
                                <span>Lock</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>
<% } %>


