
<div class="" style="min-width:1024px;background-color:#0b71bf;box-shadow:0px 2px 2px 0px rgba(25,25,25,0.5);">
    <div class="center-block clearfix" style="width:1024px;padding:0px 15px;">
        <div class="pull-left" style="line-height:50px;">
            <a class="site-a" href="/manage/dashboard">
                <img style="width:225px;height:30px;margin-left:-10px;" src="<%= CONST.static.url %>images/index/businesslawpulse_brand.png" />
            </a>
        </div>

        <div class="pull-right">
            <div class="btn-group">
                <a class="site-a dropdown-toggle" data-toggle="dropdown">
                    <div class="" style="padding:0px 15px;line-height:50px;">
                        <span style="color:white;">ACCOUNT</span>
                    </div>
                </a>
                <ul class="dropdown-menu pull-right" style="min-width:100px;margin-bottom:15px;">
                    <li class="">
                        <a href="/manage/admin/query">
                            <div class="clearfix">
                                <div class="pull-right">
                                    <i class="fa fa-angle-right text-muted"></i>
                                </div>
                                <div class="pull-left">
                                    <span>Admin</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/manage/company/query">
                            <div class="clearfix">
                                <div class="pull-right">
                                    <i class="fa fa-angle-right text-muted"></i>
                                </div>
                                <div class="pull-left">
                                    <span>Company</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/manage/user/query">
                            <div class="clearfix">
                                <div class="pull-right">
                                    <i class="fa fa-angle-right text-muted"></i>
                                </div>
                                <div class="pull-left">
                                    <span>User</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <a class="site-a dropdown-toggle" data-toggle="dropdown">
                    <div class="" style="padding:0px 15px;line-height:50px;">
                        <span style="color:white;">LAW</span>
                    </div>
                </a>
                <ul class="dropdown-menu pull-right" style="min-width:100px;margin-bottom:15px;">
                    <li>
                        <a href="/manage/law/deal/query">
                            <div class="clearfix">
                                <div class="pull-right">
                                    <i class="fa fa-angle-right text-muted"></i>
                                </div>
                                <div class="pull-left">
                                    <span>Deal</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/manage/law/client/query">
                            <div class="clearfix">
                                <div class="pull-right">
                                    <i class="fa fa-angle-right text-muted"></i>
                                </div>
                                <div class="pull-left">
                                    <span>Client</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/manage/law/firm/query">
                            <div class="clearfix">
                                <div class="pull-right">
                                    <i class="fa fa-angle-right text-muted"></i>
                                </div>
                                <div class="pull-left">
                                    <span>Firm</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/manage/law/lawyer/query">
                            <div class="clearfix">
                                <div class="pull-right">
                                    <i class="fa fa-angle-right text-muted"></i>
                                </div>
                                <div class="pull-left">
                                    <span>Lawyer</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/manage/law/config">
                            <div class="clearfix">
                                <div class="pull-right">
                                    <i class="fa fa-angle-right text-muted"></i>
                                </div>
                                <div class="pull-left">
                                    <span>Config</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/manage/law/batch">
                            <div class="clearfix">
                                <div class="pull-right">
                                    <i class="fa fa-angle-right text-muted"></i>
                                </div>
                                <div class="pull-left">
                                    <span>Batch</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <a class="site-a dropdown-toggle" data-toggle="dropdown">
                    <div class="" style="padding:0px 15px;line-height:50px;">
                        <span style="color:white;">CHART</span>
                    </div>
                </a>
                <ul class="dropdown-menu pull-right" style="min-width:100px;margin-bottom:15px;">
                    <li>
                        <a href="/manage/law/chart/m1">
                            <div class="clearfix">
                                <div class="pull-right">
                                    <i class="fa fa-angle-right text-muted"></i>
                                </div>
                                <div class="pull-left">
                                    <span>Model-1</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/manage/law/chart/m2">
                            <div class="clearfix">
                                <div class="pull-right">
                                    <i class="fa fa-angle-right text-muted"></i>
                                </div>
                                <div class="pull-left">
                                    <span>Model-2</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <span style="padding:0px 10px;color:white;">|</span>
            <div class="btn-group" style="margin:0px 10px;">
                <a class="site-a dropdown-toggle" data-toggle="dropdown">
                    <div class="img-circle site-background"
                        style="width:24px;height:24px;background-image:url('<%= CORE.admin.avatar.thumbnails[2].url %>');"></div>
                </a>
                <ul class="dropdown-menu pull-right" style="min-width:100px;margin:15px 0px;">
                    <li>
                        <a style="padding:3px 12px;" href="/manage/profile">
                            <div class="pull-right">
                                <i class="fa fa-cog text-muted"></i>
                            </div>
                            <div class="">
                                <span>Profile</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider" style="margin:2px 0px;"></li>
                    <li>
                        <a class="" style="padding:3px 12px;" href="/manage/logout">
                            <div class="pull-right">
                                <i class="fa fa-power-off text-muted"></i>
                            </div>
                            <div class="">
                                <span>Logout</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


