
<% var codes = ['common','user','message'] %>
<% for (var i=0;i<codes.length;i++) { %>
<a class="module-btn site-a" href="javascript:void(0)" data-module-id="<%= modules[codes[i]].id %>">
    <div class="site-hover-light" style="padding:5px 10px;">
        <div class="pull-right" style="width:20px;" align="right">
            <i class="fa fa-angle-right text-muted"></i>
        </div>
        <div class="" style="margin-right:20px;">
            <span class="text-muted"><%= modules[codes[i]].name %></span>
        </div>
    </div>
</a>
<% } %>

<hr style="margin:10px 0px;">

<% var codes = ['news','video'] %>
<% for (var i=0;i<codes.length;i++) { %>
<a class="module-btn site-a" href="javascript:void(0)" data-module-id="<%= modules[codes[i]].id %>">
    <div class="site-hover-light" style="padding:5px 10px;">
        <div class="pull-right" style="width:20px;" align="right">
            <i class="fa fa-angle-right text-muted"></i>
        </div>
        <div class="" style="margin-right:20px;">
            <span class="text-muted"><%= modules[codes[i]].name %></span>
        </div>
    </div>
</a>
<% } %>

<hr style="margin:10px 0px;">

<% var codes = ['program'] %>
<% for (var i=0;i<codes.length;i++) { %>
<a class="module-btn site-a" href="javascript:void(0)" data-module-id="<%= modules[codes[i]].id %>">
    <div class="site-hover-light" style="padding:5px 10px;">
        <div class="pull-right" style="width:20px;" align="right">
            <i class="fa fa-angle-right text-muted"></i>
        </div>
        <div class="" style="margin-right:20px;">
            <span class="text-muted"><%= modules[codes[i]].name %></span>
        </div>
    </div>
</a>
<% } %>

<hr style="margin:10px 0px;">

<% var codes = ['fifa_competition','fifa_team','fifa_player','fifa_game'] %>
<% for (var i=0;i<codes.length;i++) { %>
<a class="module-btn site-a" href="javascript:void(0)" data-module-id="<%= modules[codes[i]].id %>">
    <div class="site-hover-light" style="padding:5px 10px;">
        <div class="pull-right" style="width:20px;" align="right">
            <i class="fa fa-angle-right text-muted"></i>
        </div>
        <div class="" style="margin-right:20px;">
            <span class="text-muted"><%= modules[codes[i]].name %></span>
        </div>
    </div>
</a>
<% } %>

<hr style="margin:10px 0px;">

<% var codes = ['cms_competition','cms_team','cms_game','cms_standing','cms_notice','cms_comment'] %>
<% for (var i=0;i<codes.length;i++) { %>
<a class="module-btn site-a hidden" href="javascript:void(0)" data-module-id="<%= modules[codes[i]].id %>">
    <div class="site-hover-light" style="padding:5px 10px;">
        <div class="pull-right" style="width:20px;" align="right">
            <i class="fa fa-angle-right text-muted"></i>
        </div>
        <div class="" style="margin-right:20px;">
            <span class="text-muted"><%= modules[codes[i]].name %></span>
        </div>
    </div>
</a>
<% } %>


