
<div class="subscribe-item clearfix site-hover-light" style="padding:0px 10px;line-height:30px;">
    <div class="pull-right">
        <a class="mqtt-unsubscribe-topic-btn site-a site-hover-transition" style="color:#bbb;" href="javascript:void(0)" title="unsubscribe">
            <i class="fa fa-remove"></i>
        </a>
    </div>
    <div class="pull-left" style="font-size:10px;color:#bbb;">
        <span>QoS</span>
        <span>=</span>
        <span><%= qos %></span>
    </div>
    <div class="" style="margin-left:75px;margin-right:20px;overflow:auto;">
        <span class="subscribe-topic"><%= topic %></span>
    </div>
</div>


