
<% if (firms.length==0) { %>
<div class="">
    <% if (CONST.lang=='en') { %>
    <span class="text-muted">No firm found.</span>
    <% } else { %>
    <span class="text-muted">暂无律所记录，</span>
    <% } %>

    <a class="site-a" href="javascript:void(0)" onclick="$('.add-firm-tab').tab('show');">
        <% if (CONST.lang=='en') { %>
        <span>Add now</span>
        <% } else { %>
        <span>现在添加</span>
        <% } %>
    </a>
</div>
<% } else { %>

<table class="table table-hover" style="margin:0px;">
    <thead>
        <tr>
            <% if (CONST.lang=='en') { %>
            <th><div class="text-muted">Firm</div></th>
            <th><div class="text-muted">Party</div></th>
            <th><div class="text-muted">Areas</div></th>
            <th><div class="text-muted" align="center">Actions</div></th>
            <% } else { %>
            <th><div class="text-muted">律所</div></th>
            <th><div class="text-muted">交易方</div></th>
            <th><div class="text-muted">地区</div></th>
            <th><div class="text-muted" align="center">操作</div></th>
            <% } %>
        </tr>
    </thead>
    <tbody>
        <% for (var i=0;i<firms.length;i++) { %>
        <% var firm = firms[i] %>
        <tr class="deal-firm-item" data-firm-id="<%= firm.id %>">
            <td>
                <span><%= firm.name %></span>
            </td>
            <td>
                <% if (!!firm.party) { %>
            
                <% if (CONST.lang=='en') { %>
                <span><%= parties[firm.party].en %></span>
                <% } else { %>
                <span><%= parties[firm.party].cn %></span>
                <% } %>

                <% } else { %>
                <span>-</span>
                <% } %>
            </td>
            <td>
                <% if (firm.areas.length==0) { %>
                <span>-</span>
                <% } else { %>

                <% for (var j=0;j<firm.areas.length;j++) { %>
                <div class="">
                    <% if (CONST.lang=='en') { %>
                    <span><%= areas[firm.areas[j]].en %></span>
                    <% } else { %>
                    <span><%= areas[firm.areas[j]].cn %></span>
                    <% } %>
                </div>
                <% } %>

                <% } %>
            </td>
            <td style="width:120px;" align="center">
                <div class="btn-group">
                    <a class="update-deal-firm btn btn-default btn-sm" style="width:75px;" href="javascript:void(0)">
                        <% if (CONST.lang=='en') { %>
                        <span>Modify</span>
                        <% } else { %>
                        <span>修改</span>
                        <% } %>
                    </a>
                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                        <span class="caret text-muted"></span>
                    </a>
                    <ul class="dropdown-menu pull-right" style="width:100px;">
                        <li>
                            <a class="remove-deal-firm-btn" href="javascript:void(0)">
                                <div class="clearfix">
                                    <div class="pull-right">
                                        <i class="fa fa-angle-right text-muted"></i>
                                    </div>
                                    <div class="" style="margin-right:20px;">
                                        <% if (CONST.lang=='en') { %>
                                        <span>Remove</span>
                                        <% } else { %>
                                        <span>删除</span>
                                        <% } %>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>

<% } %>


