
<div class="center-block" style="width:1024px;padding:30px 20px;font-size:12px;">
    <div class="clearfix" style="line-height:30px;">
        <div class="pull-left" style="padding:0px 10px;">
            <i class="fa fa-print" style="font-size:20px;"></i>
            <% if (CONST.lang=='en') { %>
            <b style="margin-left:5px;font-size:15px;">Submit Deal</b>
            <% } else { %>
            <b style="margin-left:5px;font-size:15px;">提交交易</b>
            <% } %>
        </div>
        <div class="pull-right" style="margin-left:10px;">
            <a class="preview-btn btn btn-primary btn-sm" style="width:100px;vertical-align:top;">
                <% if (CONST.lang=='en') { %>
                <span>Preview</span>
                <% } else { %>
                <span>预览</span>
                <% } %>
            </a>
        </div>
        <div class="pull-right btn-group">
            <a class="btn btn-default btn-sm" style="width:100px;">
                <% if (CONST.lang=='en') { %>
                <span class="text-muted">English</span>
                <% } else { %>
                <span class="text-muted">中文</span>
                <% } %>
            </a>
            <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                <span class="caret text-muted"></span>
            </a>
            <ul class="dropdown-menu" style="width:125px;">
                <li>
                    <a class="lang-en-btn" href="javascript:void(0)">
                        <div class="clearfix">
                            <div class="pull-left">
                                <span>English</span>
                            </div>
                            <div class="pull-right">
                                <i class="fa fa-angle-right text-muted"></i>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="lang-cn-btn" href="javascript:void(0)">
                        <div class="clearfix">
                            <div class="pull-left">
                                <span>中文</span>
                            </div>
                            <div class="pull-right">
                                <i class="fa fa-angle-right text-muted"></i>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <br><br>
    <form class="add-deal-form">
        <div class="clearfix">
            <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                <% if (CONST.lang=='en') { %>
                <span style="color:#bbb;">Name</span>
                <% } else { %>
                <span style="color:#bbb;">名称</span>
                <% } %>
            </div>
            <div class="" style="margin-left:120px;border-bottom:1px solid #e1e2e3;">
                <% if (CONST.lang=='en') { %>
                <input name="title" type="text" class="" style="width:100%;padding:5px 8px;border:0px;" placeholder="Deal Name" /> 
                <% } else { %>
                <input name="title" type="text" class="" style="width:100%;padding:5px 8px;border:0px;" placeholder="交易名称" /> 
                <% } %>
            </div>
        </div>
        <div class="clearfix" style="margin-top:10px;">
            <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                <% if (CONST.lang=='en') { %>
                <span style="color:#bbb;">Categories</span>
                <% } else { %>
                <span style="color:#bbb;">类别</span>
                <% } %>
            </div>
            <div class="" style="margin-left:120px;padding:6px 8px;border-bottom:1px solid #e1e2e3;">
                <select name="categories" multiple>
                    <% for (var id in categories) { %>
                    <% if (CONST.lang=='en') { %>
                    <option value="<%= id %>"><%= categories[id].en %></option>
                    <% } else { %>
                    <option value="<%= id %>"><%= categories[id].cn %></option>
                    <% } %>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="clearfix" style="margin-top:10px;">
            <div class="pull-left" style="width:50%;padding-right:50px;">
                <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                    <% if (CONST.lang=='en') { %>
                    <span style="color:#bbb;">Value - TXT</span>
                    <% } else { %>
                    <span style="color:#bbb;">实际金额</span>
                    <% } %>
                </div>
                <div class="" style="margin-left:120px;border-bottom:1px solid #e1e2e3;">
                    <% if (CONST.lang=='en') { %>
                    <input name="value_txt" type="text" class="" style="width:100%;padding:5px 8px;border:0px;" placeholder="Actual Currency" /> 
                    <% } else { %>
                    <input name="value_txt" type="text" class="" style="width:100%;padding:5px 8px;border:0px;" placeholder="实际货币金额" /> 
                    <% } %>
                </div>
            </div>
            <div class="pull-left" style="width:50%;padding-left:50px;">
                <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                    <% if (CONST.lang=='en') { %>
                    <span style="color:#bbb;">Value - USD</span>
                    <% } else { %>
                    <span style="color:#bbb;">美元金额</span>
                    <% } %>
                </div>
                <div class="" style="margin-left:120px;border-bottom:1px solid #e1e2e3;">
                    <div class="pull-right" style="width:50px;padding-top:5px;" align="center">
                        <span class="text-muted">USD</span>
                    </div>
                    <div class="" style="margin-right:50px;">
                        <% if (CONST.lang=='en') { %>
                        <input name="value" type="text" class="" style="width:100%;padding:5px 8px;border:0px;" placeholder="Exchange in US Dollars" /> 
                        <% } else { %>
                        <input name="value" type="text" class="" style="width:100%;padding:5px 8px;border:0px;" placeholder="兑换美元金额" /> 
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix" style="margin-top:10px;">
            <div class="pull-left" style="width:50%;padding-right:50px;">
                <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                    <% if (CONST.lang=='en') { %>
                    <span style="color:#bbb;">Date</span>
                    <% } else { %>
                    <span style="color:#bbb;">日期</span>
                    <% } %>
                </div>
                <div class="" style="margin-left:120px;border-bottom:1px solid #e1e2e3;">
                    <div class="pull-right" style="width:30px;line-height:30px;" align="center">
                        <a class="clear-date-btn site-a site-hover-transition text-muted">
                            <i class="fa fa-remove"></i>
                        </a>
                    </div>
                    <div class="" style="margin-right:30px;">
                        <% if (CONST.lang=='en') { %>
                        <input name="date" type="text" class="deal-date" style="width:100%;border:0px;padding:5px 8px;background-color:white;" 
                            placeholder="Deal Date" readonly>
                        <% } else { %>
                        <input name="date" type="text" class="deal-date" style="width:100%;border:0px;padding:5px 8px;background-color:white;" 
                            placeholder="交易日期" readonly>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="pull-left" style="width:50%;padding-left:50px;">
                <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                    <% if (CONST.lang=='en') { %>
                    <span style="color:#bbb;">Status</span>
                    <% } else { %>
                    <span style="color:#bbb;">状态</span>
                    <% } %>
                </div>
                <div class="" style="margin-left:120px;border-bottom:1px solid #e1e2e3;">
                    <select name="status" style="width:100%;height:30px;border:0px;background-color:white;">
                        <% if (CONST.lang=='en') { %>
                        <option value="0">-- Choose --</option>
                        <option value="1">Completed</option>
                        <option value="2">Published</option>
                        <option value="3">Canceled</option>
                        <option value="4">Uncertain</option>
                        <% } else { %>
                        <option value="0">-- 选择 --</option>
                        <option value="1">已完成</option>
                        <option value="2">已公布</option>
                        <option value="3">已取消</option>
                        <option value="4">未确定</option>
                        <% } %>
                    </select>
                </div>
            </div>
        </div>
    </form>
    <br><br>
    <ul class="nav nav-tabs" style="padding:15px 20px 0px 20px;background-color:#f7f8f9;">
        <li class="active" style="width:100px;">
            <a class="list-client-tab" style="text-align:center;" href="#list_client" data-toggle="tab">
                <% if (CONST.lang=='en') { %>
                <span>Client</span>
                <% } else { %>
                <span>客户</span>
                <% } %>
            </a>
        </li>
        <li class="" style="width:100px;">
            <a class="list-firm-tab" style="text-align:center;" href="#list_firm" data-toggle="tab">
                <% if (CONST.lang=='en') { %>
                <span>Firm</span>
                <% } else { %>
                <span>律所</span>
                <% } %>
            </a>
        </li>
        <li class="" style="width:100px;">
            <a class="list-lawyer-tab" style="text-align:center;" href="#list_lawyer" data-toggle="tab">
                <% if (CONST.lang=='en') { %>
                <span>Lawyer</span>
                <% } else { %>
                <span>律师</span>
                <% } %>
            </a>
        </li>
        <li class="deal-summary-tab hidden" style="width:100px;">
            <a class="deal-summary-btn" style="text-align:center;" href="#deal_summary" data-toggle="tab">
                <% if (CONST.lang=='en') { %>
                <span>Summary</span>
                <% } else { %>
                <span>汇总</span>
                <% } %>
            </a>
        </li>
        <li class="pull-right dropdown" style="width:90px;text-align:center;">
            <a class="dropdown-toggle" style="margin:0px;" data-toggle="dropdown" href="javascript:void(0)">
                <i class="fa fa-plus"></i>
            </a>
            <ul class="dropdown-menu" style="width:100%;">
                <li>
                    <a class="add-client-tab" href="#add_client" data-toggle="tab">
                        <div class="clearfix">
                            <div class="pull-right">
                                <i class="fa fa-angle-right text-muted"></i>
                            </div>
                            <div class="">
                                <% if (CONST.lang=='en') { %>
                                <span>Client</span>
                                <% } else { %>
                                <span>客户</span>
                                <% } %>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="add-firm-tab" href="#add_firm" data-toggle="tab">
                        <div class="clearfix">
                            <div class="pull-right">
                                <i class="fa fa-angle-right text-muted"></i>
                            </div>
                            <div class="">
                                <% if (CONST.lang=='en') { %>
                                <span>Firm</span>
                                <% } else { %>
                                <span>律所</span>
                                <% } %>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="add-lawyer-tab" href="#add_lawyer" data-toggle="tab">
                        <div class="clearfix">
                            <div class="pull-right">
                                <i class="fa fa-angle-right text-muted"></i>
                            </div>
                            <div class="">
                                <% if (CONST.lang=='en') { %>
                                <span>Lawyer</span>
                                <% } else { %>
                                <span>律师</span>
                                <% } %>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <br>
    <div class="tab-content" style="padding:20px;">
        <div id="deal_summary" class="tab-pane fade"></div>
        <div id="list_client" class="clearfix tab-pane fade in active">
            <div class="deal-client-list"></div>
            <form class="update-deal-client-form hidden" style="width:600px;margin:0px auto;"></form>
        </div>
        <div id="list_firm" class="tab-pane fade">
            <div class="deal-firm-list"></div>
            <form class="update-deal-firm-form hidden" style="width:600px;margin:0px auto;"></form>
        </div>
        <div id="list_lawyer" class="tab-pane fade">
            <div class="deal-lawyer-list"></div>
            <form class="update-deal-lawyer-form hidden" style="width:600px;margin:0px auto;"></form>
        </div>
        <div id="add_client" class="tab-pane fade">
            <form class="add-deal-client-form" style="width:600px;margin:0px auto;">
                <div class="clearfix">
                    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                        <% if (CONST.lang=='en') { %>
                        <span style="color:#bbb;">Client</span>
                        <% } else { %>
                        <span style="color:#bbb;">客户</span>
                        <% } %>
                    </div>
                    <div class="" style="margin-left:120px;border-bottom:1px solid #e1e2e3;">
                        <% if (CONST.lang=='en') { %>
                        <input name="name" type="text" style="width:100%;padding:5px 8px;border:0px;" placeholder="Client Name" />
                        <% } else { %>
                        <input name="name" type="text" style="width:100%;padding:5px 8px;border:0px;" placeholder="客户名称" />
                        <% } %>
                    </div>
                </div>
                <div class="clearfix" style="margin-top:10px;">
                    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                        <span style="color:#bbb;">Party</span>
                    </div>
                    <div class="" style="margin-left:120px;padding:5px 8px;border-bottom:1px solid #e1e2e3;">
                        <select name="party">
                            <% if (CONST.lang=='en') { %>
                            <option value="">-- Choose --</option>
                            <% } else { %>
                            <option value="">-- 选择 --</option>
                            <% } %>

                            <% for (var id in parties) { %>
                            <% if (CONST.lang=='en') { %>
                            <option value="<%= id %>"><%= parties[id].en %></option>
                            <% } else { %>
                            <option value="<%= id %>"><%= parties[id].cn %></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="clearfix" style="margin-top:10px;">
                    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                        <% if (CONST.lang=='en') { %>
                        <span style="color:#bbb;">Industries</span>
                        <% } else { %>
                        <span style="color:#bbb;">行业</span>
                        <% } %>
                    </div>
                    <div class="" style="margin-left:120px;padding:5px 8px;border-bottom:1px solid #e1e2e3;">
                        <select name="industries" multiple>
                            <% for (var id in industries) { %>
                            <% if (CONST.lang=='en') { %>
                            <option value="<%= id %>"><%= industries[id].en %></option>
                            <% } else { %>
                            <option value="<%= id %>"><%= industries[id].cn %></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="clearfix" style="margin-top:10px;">
                    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                        <% if (CONST.lang=='en') { %>
                        <span style="color:#bbb;">Areas</span>
                        <% } else { %>
                        <span style="color:#bbb;">地区</span>
                        <% } %>
                    </div>
                    <div class="" style="margin-left:120px;padding:5px 8px;border-bottom:1px solid #e1e2e3;">
                        <select name="areas" multiple>
                            <% for (var id in areas) { %>
                            <% if (CONST.lang=='en') { %>
                            <option value="<%= id %>"><%= areas[id].en %></option>
                            <% } else { %>
                            <option value="<%= id %>"><%= areas[id].cn %></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                </div>
                <br>
                <div class="clearfix">
                    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                        <% if (CONST.lang=='en') { %>
                        <span style="color:#bbb;">Submit</span>
                        <% } else { %>
                        <span style="color:#bbb;">提交</span>
                        <% } %>
                    </div>
                    <div class="" style="margin-left:120px;">
                        <a class="add-deal-client-btn btn btn-link btn-sm site-a">
                            <i class="fa fa-check"></i>
                            <% if (CONST.lang=='en') { %>
                            <span>OK</span>
                            <% } else { %>
                            <span>确认</span>
                            <% } %>
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <div id="add_firm" class="tab-pane fade">
            <form class="add-deal-firm-form" style="width:600px;margin:0px auto;">
                <div class="clearfix">
                    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                        <% if (CONST.lang=='en') { %>
                        <span style="color:#bbb;">Firm</span>
                        <% } else { %>
                        <span style="color:#bbb;">律所</span>
                        <% } %>
                    </div>
                    <div class="" style="margin-left:120px;border-bottom:1px solid #e1e2e3;">
                        <% if (CONST.lang=='en') { %>
                        <input name="name" type="text" style="width:100%;padding:5px 8px;border:0px;" placeholder="Firm Name" />
                        <% } else { %>
                        <input name="name" type="text" style="width:100%;padding:5px 8px;border:0px;" placeholder="律所名称" />
                        <% } %>
                    </div>
                </div>
                <div class="clearfix" style="margin-top:10px;">
                    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                        <% if (CONST.lang=='en') { %>
                        <span style="color:#bbb;">Party</span>
                        <% } else { %>
                        <span style="color:#bbb;">交易方</span>
                        <% } %>
                    </div>
                    <div class="" style="margin-left:120px;padding:5px 8px;border-bottom:1px solid #e1e2e3;">
                        <select name="party">
                            <% if (CONST.lang=='en') { %>
                            <option value="">-- Choose --</option>
                            <% } else { %>
                            <option value="">-- 选择 --</option>
                            <% } %>

                            <% for (var id in parties) { %>
                            <% if (CONST.lang=='en') { %>
                            <option value="<%= id %>"><%= parties[id].en %></option>
                            <% } else { %>
                            <option value="<%= id %>"><%= parties[id].cn %></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="clearfix" style="margin-top:10px;">
                    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                        <% if (CONST.lang=='en') { %>
                        <span style="color:#bbb;">Areas</span>
                        <% } else { %>
                        <span style="color:#bbb;">地区</span>
                        <% } %>
                    </div>
                    <div class="" style="margin-left:120px;padding:6px 8px;border-bottom:1px solid #e1e2e3;">
                        <select name="areas" multiple>
                            <% for (var id in areas) { %>
                            <% if (CONST.lang=='en') { %>
                            <option value="<%= id %>"><%= areas[id].en %></option>
                            <% } else { %>
                            <option value="<%= id %>"><%= areas[id].cn %></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                </div>
                <br>
                <div class="clearfix">
                    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                        <% if (CONST.lang=='en') { %>
                        <span style="color:#bbb;">Submit</span>
                        <% } else { %>
                        <span style="color:#bbb;">提交</span>
                        <% } %>
                    </div>
                    <div class="" style="margin-left:120px;">
                        <a class="add-deal-firm-btn btn btn-link btn-sm site-a">
                            <i class="fa fa-check"></i>
                            <% if (CONST.lang=='en') { %>
                            <span>OK</span>
                            <% } else { %>
                            <span>确认</span>
                            <% } %>
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <div id="add_lawyer" class="tab-pane fade">
            <form class="add-deal-lawyer-form" style="width:600px;margin:0px auto;">
                <div class="clearfix">
                    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                        <% if (CONST.lang=='en') { %>
                        <span style="color:#bbb;">Lawyer</span>
                        <% } else { %>
                        <span style="color:#bbb;">律师</span>
                        <% } %>
                    </div>
                    <div class="" style="margin-left:120px;border-bottom:1px solid #e1e2e3;">
                        <% if (CONST.lang=='en') { %>
                        <input name="name" type="text" style="width:100%;padding:5px 8px;border:0px;" placeholder="Lawyer Name" />
                        <% } else { %>
                        <input name="name" type="text" style="width:100%;padding:5px 8px;border:0px;" placeholder="律师" />
                        <% } %>
                    </div>
                </div>
                <div class="clearfix" style="margin-top:10px;">
                    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                        <% if (CONST.lang=='en') { %>
                        <span style="color:#bbb;">Firm</span>
                        <% } else { %>
                        <span style="color:#bbb;">律所</span>
                        <% } %>
                    </div>
                    <div class="" style="margin-left:120px;border-bottom:1px solid #e1e2e3;">
                        <select name="firm" style="width:100%;height:30px;border:0px;background-color:white;">
                            <% if (CONST.lang=='en') { %>
                            <option value="">-- Choose --</option>
                            <% } else { %>
                            <option value="">-- 选择--</option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="clearfix" style="margin-top:10px;">
                    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                        <% if (CONST.lang=='en') { %>
                        <span style="color:#bbb;">Role</span>
                        <% } else { %>
                        <span style="color:#bbb;">角色</span>
                        <% } %>
                    </div>
                    <div class="" style="margin-left:120px;border-bottom:1px solid #e1e2e3;">
                        <select name="role" style="width:100%;height:30px;border:0px;background-color:white;">
                            <% if (CONST.lang=='en') { %>
                            <option value="">-- Choose --</option>
                            <% } else { %>
                            <option value="">-- 选择 --</option>
                            <% } %>

                            <% for (var id in roles) { %>
                            <% if (CONST.lang=='en') { %>
                            <option value="<%= id %>"><%= roles[id].en %></option>
                            <% } else { %>
                            <option value="<%= id %>"><%= roles[id].cn %></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                </div>
                <br>
                <div class="clearfix">
                    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
                        <% if (CONST.lang=='en') { %>
                        <span style="color:#bbb;">Submit</span>
                        <% } else { %>
                        <span style="color:#bbb;">提交</span>
                        <% } %>
                    </div>
                    <div class="" style="margin-left:120px;">
                        <a class="add-deal-lawyer-btn btn btn-link btn-sm site-a">
                            <i class="fa fa-check"></i>
                            <% if (CONST.lang=='en') { %>
                            <span>OK</span>
                            <% } else { %>
                            <span>确认</span>
                            <% } %>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br><br>
    <div class="clearfix">
        <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
            <% if (CONST.lang=='en') { %>
            <span style="color:#bbb;">Notes</span>
            <% } else { %>
            <span style="color:#bbb;">描述</span>
            <% } %>
        </div>
    </div>
    <div class="" style="margin-top:10px;">
        <script id="note_editor" type="text/plain" style="width:100%;height:300px;"></script>
    </div>
<div>


<!-- Preview -->
<div id="preview_modal" class="modal fade" data-backdrop="true" data-keyboard="false">
    <div class="modal-dialog" style="width:800px;margin:30px auto;">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" title="Close">
                    <i class="fa fa-times"></i>
                </button>
                <b class="text-muted">
                    <% if (CONST.lang=='en') { %>
                    <span>Preview</span>
                    <% } else { %>
                    <span>预览</span>
                    <% } %>
                </b>
            </div>
            <div class="modal-body">
                <div class="clearfix" style="margin:0px -10px;">
                    <div class="pull-left" style="width:33.33333333%;padding:0px 10px;">
                        <div class="" style="border-bottom:1px solid #e1e2e3;">
                            <% if (CONST.lang=='en') { %>
                            <input name="left" type="text" class="" style="width:100%;padding:5px 8px;border:0px;text-align:left;background-color:#f7f8f9;" 
                                placeholder="Left Header" /> 
                            <% } else { %>
                            <input name="left" type="text" class="" style="width:100%;padding:5px 8px;border:0px;text-align:left;background-color:#f7f8f9;" 
                                placeholder="页眉左侧" /> 
                            <% } %>
                        </div>
                    </div>
                    <div class="pull-left" style="width:33.33333333%;padding:0px 10px;">
                        <div class="" style="border-bottom:1px solid #e1e2e3;">
                            <% if (CONST.lang=='en') { %>
                            <input name="center" type="text" class="" style="width:100%;padding:5px 8px;border:0px;text-align:center;background-color:#f7f8f9;" 
                                placeholder="Center Header" /> 
                            <% } else { %>
                            <input name="center" type="text" class="" style="width:100%;padding:5px 8px;border:0px;text-align:center;background-color:#f7f8f9;" 
                                placeholder="页眉中部" /> 
                            <% } %>
                        </div>
                    </div>
                    <div class="pull-left" style="width:33.33333333%;padding:0px 10px;">
                        <div class="" style="border-bottom:1px solid #e1e2e3;">
                            <% if (CONST.lang=='en') { %>
                            <input name="right" type="text" class="" style="width:100%;padding:5px 8px;border:0px;text-align:right;background-color:#f7f8f9;" 
                                placeholder="Right Header" /> 
                            <% } else { %>
                            <input name="right" type="text" class="" style="width:100%;padding:5px 8px;border:0px;text-align:right;background-color:#f7f8f9;" 
                                placeholder="页眉右侧" /> 
                            <% } %>
                        </div>
                    </div>
                </div>
                <br>
                <div class="" style="padding:20px 0px;box-shadow:2px 2px 2px #e6e6e6;border:1px solid #d9d9d9;">
                    <div class="preview-content" style="height:300px;padding:0px 20px;overflow:auto;"></div>
                </div>
                <br>
                <div class="" style="padding:15px 0px;border-top:1px solid #e1e2e3;background-color:#f7f8f9;" align="center">
                    <% if (CONST.lang=='en') { %>
                    <a class="export-pdf-btn btn btn-primary btn-sm" style="width:150px;">
                        <span style="margin-left:5px;">Export PDF</span>
                    </a>
                    <% } else { %>
                    <a class="export-pdf-btn btn btn-primary btn-sm" style="width:150px;" data-loading-text="加载中">
                        <span style="margin-left:5px;">导出 PDF</span>
                    </a>
                    <% } %>
                    <a class="download-pdf-btn btn btn-danger btn-sm hidden" style="width:150px;" 
                        href="javascript:void(0)" target="_blank" onclick="$('#preview_modal').modal('hide');">
                        <% if (CONST.lang=='en') { %>
                        <span style="margin-left:5px;">Download PDF</span>
                        <% } else { %>
                        <span style="margin-left:5px;">下载 PDF</span>
                        <% } %>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


