
<% if (deals.length==0) { %>
<div class="" style="padding:20px;">
    <span style="color:#bbb;">No deal records</span>
</div>
<% } else { %>
<table class="table table-hover">
    <thead>
        <tr>
            <th><div class="text-muted">Title</div></th>
            <th><div class="text-muted" align="center">Date</div></th>
            <th><div class="text-muted" align="center">Status</div></th>
            <th style="padding:0px;"><div class="text-muted" align="center"></div></th>
            <th><div class="text-muted" align="center">Actions</div></th>
        </tr>
    </thead>
    <tbody>
        <% for (var i=0;i<deals.length;i++) { %>
        <% var deal = deals[i]; %>
        <tr data-deal-id="<%= deal.id %>">
            <td>
                <div class="clearfix">
                    <div class="pull-left">
                        <span class="label label-primary" style="opacity:0.75;">EN</span>
                    </div>
                    <div class="" style="margin-left:30px;">
                        <span><%= deal.title || '-' %></span>
                    </div>
                </div>
                <div class="clearfix" style="margin-top:5px;">
                    <div class="pull-left">
                        <span class="label label-danger" style="opacity:0.75;">CN</span>
                    </div>
                    <div class="" style="margin-left:30px;">
                        <span><%= deal.title_cn || '-' %></span>
                    </div>
                </div>
            </td>
            <td class="text-muted" style="width:90px;" align="center">
                <% if (!!deal.date) { %>
                <span><%= new Date(deal.date).format('yyyy-mm-dd')  %></span>
                <% } else { %>
                <span>-</span>
                <% } %>
            </td>
            <td style="width:75px;" align="center">
                <% if (deal.status==1) { %>
                <span>Completed</span>
                <% } else if (deal.status==2) { %>
                <span>Published</span>
                <% } else if (deal.status==3) { %>
                <span>Canceled</span>
                <% } else if (deal.status==4) { %>
                <span>Uncertain</span>
                <% } %>
            </td>
            <td style="padding:0px;" align="center">
                <% if (deal.review==2) { %>
                <i class="fa fa-exclamation-circle text-primary" title="Not completed"></i>
                <% } else if (deal.review==3) { %>
                <i class="fa fa-question-circle text-danger" title="With questions"></i>
                <% } else if (deal.review==4) { %>
                <i class="fa fa-info-circle text-warning" title="For reference"></i>
                <% } %>
            </td>
            <td style="width:120px;" align="center">
                <div class="btn-group">
                    <a class="edit-deal-btn btn btn-default btn-sm" style="width:75px;" href="/manage/law/deal/<%= deal.id %>/update">
                        <span>Modify</span>
                    </a>
                    <a class="btn btn-default btn-sm disabled hidden" style="width:75px;" href="javascript:void(0)">
                        <span>Locked</span>
                    </a>
                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                        <span class="caret text-muted"></span>
                    </a>
                    <ul class="dropdown-menu pull-right" style="width:100px;">
                        <li>
                            <a class="remove-deal-btn" href="javascript:void(0)">
                                <div class="clearfix">
                                    <div class="pull-right">
                                        <i class="fa fa-angle-right text-muted"></i>
                                    </div>
                                    <div class="" style="margin-right:20px;">
                                        <span>Remove</span>
                                    </div>
                                </div>
                            </a>
                            <a class="hidden btn btn-link btn-sm disabled" href="javascript:void(0)">
                                <span>Locked</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>
<% } %>


