
<div class="clearfix" style="margin-bottom:5px;">
    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
        <span style="color:#bbb;">Lawyer</span>
    </div>
    <div class="" style="margin-left:120px;">
        <div class="" style="padding-top:5px;padding-left:5px;">
            <input name="lawyer" type="hidden" value="<%= lawyer.id %>" />
            <span><%= lawyer.name || lawyer.name_cn %></span>
        </div>
    </div>
</div>
<br>
<div class="clearfix">
    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
        <span style="color:#bbb;">Firm</span>
    </div>
    <div class="" style="margin-left:120px;border-bottom:1px solid #e1e2e3;">
        <select name="firm" style="width:100%;height:30px;border:0px;background-color:white;">
            <option value="">-- Choose --</option>
            <% for (var i=0;i<firms.length;i++) { %>
            <option value="<%= firms[i].id %>" <%= lawyer.firm.id==firms[i].id ? 'selected':'' %>><%= firms[i].name || firms[i].name_cn %></option>
            <% } %>
        </select>
    </div>
</div>
<br>
<div class="clearfix">
    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
        <span style="color:#bbb;">Role</span>
    </div>
    <div class="" style="margin-left:120px;border-bottom:1px solid #e1e2e3;">
        <select name="role" style="width:100%;height:30px;border:0px;background-color:white;" data-field-type="number">
            <option value="">-- Choose --</option>
            <% for (var id in roles) { %>
            <option value="<%= id %>" <%= lawyer.role==id ? 'selected':'' %>><%= roles[id].en || roles[id].cn %></option>
            <% } %>
        </select>
    </div>
</div>
<br>
<div class="clearfix">
    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
        <span style="color:#bbb;">Remarks</span>
    </div>
    <div class="" style="margin-left:120px;border-bottom:1px solid #e1e2e3;">
        <textarea name="remark" style="width:100%;padding:5px 8px;border:0px;" rows="2" 
            placeholder="-- remarks --"><%= lawyer.remark %></textarea>
    </div>
</div>
<br>
<div class="clearfix">
    <div class="pull-left" style="width:100px;padding:5px 0px;background-color:#f7f8f9;" align="center">
        <span style="color:#bbb;">Submit</span>
    </div>
    <div class="" style="margin-left:120px;">
        <a class="update-deal-lawyer-btn btn btn-link btn-sm site-a">
            <i class="fa fa-check"></i>
            <span>OK</span>
        </a>
        <a class="btn btn-link btn-sm site-a" style="margin-left:10px;" onclick="$('.deal-lawyer-list, .update-deal-lawyer-form').toggleClass('hidden');">
            <i class="fa fa-share text-muted"></i>
            <span class="text-muted">Back</span>
        </a>
    </div>
</div>


